/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.section {
  margin: 0 auto;
  width: 990px; }
  .section:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

p {
  margin-bottom: 1em; }

.body {
  font-family: georgia, "times new roman";
  font-size: 17px;
  line-height: 24px; }

.big-quote, .wide-photo-quote {
  font-family: georgia, "times new roman";
  font-size: 25px;
  line-height: 32px; }

.small-quote, .photo-caption {
  font-family: georgia, "times new roman";
  font-size: 16px;
  line-height: 16px; }

.button {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font-family: georgia, "times new roman";
  background-color: black;
  color: white;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 15px;
  border: none;
  cursor: pointer; }
  .button:hover {
    background-color: #222; }

.button-big {
  font-size: 17px;
  padding: 15px 20px; }

.cover {
  background-image: url("/images/issue-1/cover.jpg");
  background-image: url("/images/issue-1/cover.jpg");
  background-position: center top, center;
  width: 100%;
  height: 900px;
  position: relative; }

.cover-inner {
  -moz-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  font-family: helvetica, arial;
  text-align: center;
  color: white;
  width: 480px;
  position: absolute;
  top: 225px;
  left: 140px; }

.cover-issue-number {
  letter-spacing: 1px;
  font-size: 22px;
  line-height: 26px; }

.cover-issue-title {
  text-transform: uppercase;
  font-size: 50px;
  line-height: 60px; }

.section {
  padding: 120px 0; }

.section-one .body {
  width: 650px;
  float: left; }

.product-info {
  width: 310px;
  float: right;
  font-family: helvetica, arial; }

.product-image {
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url("/images/issue-1/product-small.png");
  background-repeat: no-repeat;
  height: 200px;
  width: 100%; }

.product-title {
  font-family: helvetica, arial;
  padding: 30px 27.5px 20px;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold; }

.product-features {
  font-size: 14px;
  line-height: 16px;
  list-style-type: square;
  padding: 0 27.5px; }
  .product-features li {
    margin-bottom: 1em; }

.product-purchase {
  padding: 20px 0;
  text-align: center; }

.footer {
  height: 400px; }

.wide-photo {
  width: 1080px;
  margin: 0 auto; }

.wide-photo img {
  width: 100%; }

.wide-photo-quote {
  width: 650px;
  margin: 40px auto;
  color: #898989; }

.section-two .body {
  width: 480px;
  float: left; }

.section-two .photo {
  width: 480px;
  float: right; }

.photo-caption {
  padding: 15px 0;
  color: #898989;
  font-style: italic;
  text-align: center; }

.section-three {
  padding-top: 0; }

.section-three .big-quote, .section-three .wide-photo-quote {
  color: #898989;
  padding: 80px 140px;
  font-style: italic; }

.section-three .body {
  width: 480px;
  float: right; }

.section-three .photo {
  width: 480px;
  float: left; }

.section-four .body {
  width: 480px;
  float: left; }

.section-four .photo {
  padding-top: 85px;
  width: 480px;
  float: right; }

.full-bleed {
  background-image: url("/images/issue-1/full-bleed-wallet-glue.jpg");
  background-image: url("/images/issue-1/full-bleed-wallet-glue.jpg");
  background-position: center top, center;
  width: 100%;
  height: 900px;
  background-size: cover;
  position: relative; }

.section-five {
  margin-top: 120px; }

.section-five .body {
  padding-top: 80px;
  padding-right: 30px;
  width: 480px;
  float: left; }

.section-five .buy-product {
  width: 480px;
  float: right;
  text-align: center; }
  .section-five .buy-product .button {
    margin-top: 30px; }

.product-pitch {
  margin-top: 4em;
  font-style: italic;
  color: #898989; }
