<div class="buy-overlay">
  <div class="close-buy-overlay close-overlay"></div>

  <div class="buy-overlay-image-wrapper">
    <img class="buy-overlay-image" src="/assets/images/issue-1/buy/1.jpg" />
  </div>

  <div class="buy-overlay-details">
    <div class="product-title">
      The Blackacre Wallet
      <div>Nice Work Limited Edition</div>
    </div>

    <ul class="product-features">
      <li>Vertical billfold wallet with snap closure.</li>
      <li>Leather from <a href="http://tarnsjogarveri.com/wip/en/subcontracting" target="_blank">Tärnsjö tannery</a> in Sweden: one of the only tanneries in the world to use exclusively organic vegetable-based tanning.</li>
      <li>Limited production of 12 pieces – the maximum possible from one leather hide.</li>
      <li>Exclusive collaborative design between The Blackacre and Nice Work, available at Shelter Half. Made in The Blackacre workshop in Fullerton, CA.</li>
      <li>Dimensions: 4" tall x 3" wide x 5/16" thick.</li>
    </ul>
    
      <div class="purchase-price">$198</div>
      <div class="purchase-title">To order from Shelter Half, please do one of the following...</div>
      <div class="purchase-details">
        <li>Email: <a href="mailto:info@shelterhalf.com?body=Hello, I'm interested in ordering the wallet. Please call me to exchange shipping and payment info. My phone number is:&subject=The Blackacre Wallet – Nice Work Limited Edition" target="_blank">info@shelterhalf.com</a></li>
        <li>Call: <a href="callto:3239360225" target="_blank">(323) 936-0225</a></li>
        <li>Visit: <a href="https://maps.google.com/maps?q=161+S+La+Brea+Los+Angeles,+Ca+90036&hnear=161+S+La+Brea+Ave,+Inglewood,+California+90301&gl=us&t=m&z=16" target="_blank">Shelter Half @ 181 S La Brea Ave, Los Angeles , CA.</a></li>
        </ul>
      </div>
  
    <div class="buy-overlay-change-image next"></div>
    <div class="buy-overlay-change-image previous"></div>
  </div>
</div>