<div class="footer section">
  <img class="footer-logo" src="/assets/images/logo-expanded.png" />

  <div class="footer-body">
    <p>
      <strong>Nice Work</strong> is a series presented by
      <a href="http://shelterhalf.com" target="_blank">Shelter Half</a>
       that features craftspeople,
      artisans, designers, and creators who are redefining what it means to be
      "made in America" through the products they make. In telling their stories,
      we close the gap between creator and consumer.
    </p>

    <p>
      Each issue follows these people as they practice their trades and produce a
      limited-run product designed together with – and sold exclusively through –
      Nice Work. In contributing to their commerce, we support their efforts to
      remake American making.
    </p>
  </div>

  <div class="footer-newsletter">
    {% include mailchimp.html %}
  </div>

  <div class="made-in-la">
    Made in Los Angeles
  </div>
</div>
