<!-- MailChimp Signup Form -->
<div id="mc_embed_signup">
  <form action="http://niceworkseries.us7.list-manage2.com/subscribe/post?u=92b90d7f439726da2bb15e69b&amp;id=8b734bd4ee" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <h2>Subscribe to our mailing list</h2>

    <div class="mc-field-group">
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email@example.com">
    </div>

    <div id="mce-responses" class="clear">
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_92b90d7f439726da2bb15e69b_8b734bd4ee" value=""></div>
    </div>

    <div class="clear">

    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button-small"></div>
  </form>
</div>
