<div class="menu">
  <div class="menu-collapsed">
    <img class="menu-toggle" src="/assets/images/logo-collapsed.png" />
  </div>

  <div class="menu-expanded">
    <img class="menu-toggle" src="/assets/images/logo-expanded.png" />

    <div class="menu-explainer">
      <p>The stories and people behind America’s best made goods.</p>
      <p>Presented by <a href="http://shelterhalf.com">Shelter Half</a></p>
    </div>

    <div class="menu-bios">
      <div class="who-we-are">
        <p>
          Nice Work is hand <br />
          crafted by these fine folks.
        </p>
      </div>

      <div class="menu-bio">
        <div class="menu-bio-name">Jamie Thalman</div>
        <div class="menu-bio-role">Film</div>
      </div>

      <div class="menu-bio">
        <div class="menu-bio-name">Daniel Katz</div>
        <div class="menu-bio-role">Writing</div>
      </div>

      <div class="menu-bio">
        <div class="menu-bio-name">Tal Safran</div>
        <div class="menu-bio-role">Web</div>
      </div>

      <div class="menu-bio">
        <div class="menu-bio-name">Davide Berruto</div>
        <div class="menu-bio-role">Producer</div>
      </div>
    </div>

    <div class="menu-newsletter">
      {% include mailchimp.html %}
    </div>
  </div>
</div>