@mixin san-serif {
  font-family: helvetica, arial;
}

@mixin serif {
  font-family: georgia, "times new roman";
}

* {
  @include cross-browser(box-sizing, border-box);
}

p {
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  @include san-serif;
  text-transform: uppercase;
  font-size: 50px;
//  font-weight: bold;
  line-height: 60px;
}

h2 {
  @include serif;
  font-size: 25px;
  font-weight: normal;
  line-height: 32px;
  margin-bottom: .5em;
}

h3 {
  @include serif;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 1em;
}

strong {
  font-weight: bold;
}

em {
  text-style: italic;
}

a,
a:visited {
  color: #898989;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

.body {
  @include serif;
  font-size: 17px;
  line-height: 24px;
}

.big-quote {
  @include serif;
  font-size: 25px;
  line-height: 32px;
}

.small-quote {
  @include serif;
  font-size: 16px;
  line-height: 16px;
}