/*
Syntax error: Undefined mixin 'opacity'.
        on line 3 of assets/scss/buy-overlay.scss, in `opacity'
        from line 3 of assets/scss/buy-overlay.scss

1: .buy-overlay {
2:   display: none;
3:   @include opacity(0);
4:   @include transition(opacity 0.5s);
5:   position: fixed;
6:   height: 100%;
7:   width: 100%;
8:   background: black;

Backtrace:
assets/scss/buy-overlay.scss:3:in `opacity'
assets/scss/buy-overlay.scss:3
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `each'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/vendor/listen/lib/listen/adapter.rb:198:in `call'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/vendor/listen/lib/listen/adapter.rb:198:in `report_changes'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/vendor/listen/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Users/tal/.rvm/gems/ruby-2.0.0-p0@nice-work/gems/sass-3.2.12/vendor/listen/lib/listen/adapters/darwin.rb:38:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'opacity'.\A         on line 3 of assets/scss/buy-overlay.scss, in `opacity'\A         from line 3 of assets/scss/buy-overlay.scss\A \A 1: .buy-overlay {\A 2:   display: none;\A 3:   @include opacity(0);\A 4:   @include transition(opacity 0.5s);\A 5:   position: fixed;\A 6:   height: 100%;\A 7:   width: 100%;\A 8:   background: black;"; }
